<div class="container">
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2"> -->
      <h1>UserShows#index</h1>
      <p>Find me in app/views/user_shows/index.html.erb</p>
      <h4>Welcome, <%= current_user.username %></h4>

      <div class="search-div">
        <!-- search -->
        <h2>find a series</h2>
        <%= simple_form_for :series, method: :get, url: search_path do |f|%>
        <%= f.input_field :title, input_html: {class: 'chosen-select form-control'}, prompt: 'which title?', placeholder: 'which title?',label: false  %>
        <%= f.input_field :year, input_html: {class: 'chosen-select form-control'}, prompt: '(which year?)', placeholder: 'which year(optional)?',label: false  %>

        <%= f.submit "Search", class: "btn btn-primary" %>
        <% end %>
      </div>

      <% @usershows.each do |usershow| %>
        <div class="series-card">
          <div class="series-pic"><%= image_tag usershow.show.poster %></div>
          <div class="series-body">
            <h3><%= usershow.show.title %></h3>

            <%= render "reviews/latest_review", usershow: usershow %>

            <p><%= usershow.show.summary %></p>
            <p><%= usershow.show.imdb %></p>
            <!--begin modal of review partial-->
            <div class="modal fade review-mod-style" id="review-form-<%= usershow.show.id %>">
              <div class="modal-dialog" role="document"><!--aligns the modal document-->
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="review-modal-header">Review for '<%= usershow.show.title %>'</h3>
                  </div><!--end of header-->
                  <div class="modal-body">
                    <%= render "reviews/review_form", usershow: usershow, review: @review %>
                  </div><!--end of modal-body-->
                </div><!--end of modal-content-->
              </div><!--end of modal-dialog-->
            </div><!--end of modal-->
          </div><!--end of series-body-->
          <div class="series-index-action flex center">
            <%= link_to user_show_path(usershow) do %>
            <i class="fa fa-eye fa-2x series-action-icons"></i>
            <% end %>
            <a href="" data-toggle="modal" data-target="#review-form-<%= usershow.show.id %>" ><i class="fa fa-comment-o fa-2x series-action-icons"></i></a>
          </div>
        </div>
      <% end %>
    <!-- </div>end of col-xs-12 ; may need to add something to ensure responsive design -->
  <!-- </div>end of row -->
</div>
